.getStarted {
    display: grid;
    margin-top: 56px;
}

.pt1 {
    text-align: right;
}

.pt2 a {
    display: inline-block;
    background-color: white;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.15);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin: 8px;
    padding: 8px;
}

.pt2 a:hover {
    font-weight: bold;
}

.pt2 {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}

.border {
    display: none;
}

@media screen and (min-width: 768px){

    .getStarted {
        grid-template: 1fr / repeat(2, 1fr);
        grid-template-areas: ". text";
    }
    
    .getStarted-grid {
        border-right: #d3d3d3 double 5px;
        border-bottom: #d3d3d3 double 5px;
        grid-area: text;
        margin: 24px 24px 0 24px;
        padding: 16px;
    }
}

@media screen and (max-width: 767px){

    .getStarted {
        grid-template: 1fr / 1fr;
    }

    .getStarted-grid {
        border-right: none;
        border-bottom: none;
        justify-self: center;
    }

    .pt1 {
        text-align: center;
    }

    .border {
        border-bottom: #d3d3d3 double 5px;
        display: block;
        margin: auto;
        width: 70%;
    }
}