@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}


.footer {
    background-color: rgba(29, 29, 31, 1);
    padding: 90px 200px 90px 200px;
}

.footer-column1 h2 {
    font-size: 32px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.footer-column1 p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(131, 131, 131, 1);
}